<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
    <h1>技術書登録</h1>
        <form action="">
            <p>タイトル：<input type="text" th:field="*{title}"></p>
            <p>著者：<input type="text" th:field="*{author}"></p>
            <p>ISBN：<input type="text" th:field="*{isbn}"></p>
            <p>画像：<input type="text" th:field="*{image}"></p>
            <p>感想・メモ：<input type="text" th:field="*{memo}"></p>
            <p>ステータス：<input type="text" th:field="*{status}"></p>
        </form>

</body>
</html>